/* container styling  */
* {
  box-sizing: border-box;
  margin: auto;
  padding: 0px;
}

/* greeting styling */
button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: transparent;
  color: #1b5811;
  cursor: pointer;
  text-align: center;
  border-radius: 40%;
  transition: 250ms ease-in-out; 
  transform: 150ms ease;
  }

 button:hover{
  text-shadow: 10px 10px 4px #041a0d;
  font-size: larger;
}

.form {
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 40%;
  transition: 250ms ease-in-out; 
  transform: 150ms ease;
  }

/* nav styling  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  background: #44815f;
  box-shadow: 0 5px 15px #07110c;
  border-radius: 5px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}


#navbar li {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  list-style: none;
  transition: 0.3s ease-in-out;
  padding: 4%;
}

#navbar a {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: transparent;
  color: #8bdd7e;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 250ms ease-in-out; 
  transform: 150ms ease;
  }

#navbar a:hover{
  text-shadow: 10px 10px 4px #041a0d;
  font-size: larger;
}

#navbar a:focus {
  outline-offset: -4px;
  
}

#navbar a:active {
  transform: scale(0.99);
}

.burger-menu {
    height: 100%;
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: rgb(0, 183, 255);
    border-radius: 0.5em;
}

.menu {
    width: 50%;
    height: 100vh;
    background-color: rgb(154, 181,240);
    position: absolute;
    top: 0;
    z-index: -1;
}

.burger div {
  width: 25px;
  height: 1vh;
  border-radius: 40%;
  background-color: rgb(57, 218, 236);
  margin: 5px;
}
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

 .burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

@media screen and (max-width: 768px) {
  #navbar li {
    display: none;
    transform: translateX(100%);
  }
  .burger {
    display: block;
    flex-direction: column;
    margin-right: 150px;
    padding-top: 10px;
  }
  .burger:hover{
    border-radius: 30%;
    background-color: rgb(117, 167, 172);
  }

  .burgerX {
    display: block;
  }

  #navbar-active {
    transform: translateX(0%);
  }
}

/* resume styling */

.card-body {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}


